* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button,
input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.h-screen {
  height: 100dvh;
}

.min-h-screen {
  min-height: 100dvh;
}

ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

input:disabled {
  opacity: 0.5 !important;
}
