main {
  background: rgb(201, 201, 201);
  background: linear-gradient(
    133deg,
    rgba(201, 201, 201, 1) 0%,
    rgba(255, 255, 255, 1) 69%
  );
}

a {
  background-color: white;
  transition: 0.2s;
}

a:hover {
  background-color: #f3f3f3;
}
